*{
    font-family: 'Inter';
}

header{
    background-color: white;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between; 
    align-items: center;
    gap: 40px;
    list-style: none;
}


/* ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between; 
    align-items: center;
    gap: 40px;
    list-style: none;
} */
/* common style button */
.common_btn{
    background-color: rgb(30, 67, 250);
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: none;
    cursor: pointer;
}


.hero{
    background-image: url(assets/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;
    color: white; 
    
    
    display: flex;
    justify-content: center;
    align-items: center;
}


.speakers-grid{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 30px;
    max-width: 1140px;
    margin: 5px;
    text-align: left;
    
     
}

.single-speaker{
    background-color: rgba(201, 203, 203, 0.277);
    border-radius: 15px;
    border-color: black;
}

.single-speaker p{
    font-size: 15px;
    color: rgb(134, 116, 252);
    margin: 0px;
}

h1{
    padding: 50px;
    text-align: center;
    font-size: xx-large;
}

.container{
    box-sizing: border-box;
}

.spot{
    
    font-size: xx-large;
    text-align: center;

} 
.heading{
    padding: 70px;
}
.early{
    font-size: x-small;
    text-align: center;
} 

.buy{
    display: flex;
    flex-direction: column;
} 

.pricing-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
} 




/* New subscribtion part */

.parent-div{
    display: flex;
    
    justify-content: center;
    gap: 20px;

}
.pricing-card{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 40px 50px;
    justify-content: space-around;
    
    border: 5px rgb(92, 92, 92);
    border-radius: 12px;

}


/* footer */

footer{
    text-align: center;
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 15px;
    background-color: rgb(187, 187, 187);
}

footer form input{
    border: 2px;
    border-color: black;
    background-color: rgb(255, 255, 255);
    padding: 8px  15px;
    border-radius: 10px;
    display: block;
    margin-bottom: 8px;
    width: 85%;
}